include(cura.jinja)

[tool_requires]
emsdk/3.1.65@lulzbot/stable
nodejs/20.16.0@lulzbot/stable

[settings]
os=Emscripten
arch=wasm

[conf]
tools.build:skip_test=True

[options]
curaenginele/*:enable_plugins=False
curaenginele/*:enable_arcus=False
curatorle/*:with_cura_resources=True
curatorle/*:disable_logging=True
libzip/*:crypto=False
