include(cura.jinja)

[conf]
tools.build:skip_test=True
user.sentry:url=https://55c41fed2cd646a099384279344b0d20@o1281016.ingest.us.sentry.io/4507422323113984
user.sentry:organization=fame3d

[options]
curaenginele/*:enable_sentry=True
curaenginele/*:sentry_send_binaries=True
curaenginele/*:sentry_create_release=True
arcus/*:enable_sentry=True
arcus/*:sentry_send_binaries=True
arcus/*:sentry_project=curaenginele-5
clipper/*:enable_sentry=True
clipper/*:sentry_send_binaries=True
clipper/*:sentry_project=curaenginele-5

[settings]
curaenginele/*:build_type=RelWithDebInfo
arcus/*:build_type=RelWithDebInfo
clipper/*:build_type=RelWithDebInfo
