include(cura.jinja)

[build_requires]

[settings]

[options]

[env]

[conf]
tools.system.package_manager:mode=install
user.curaengine:sentry_url=https://55c41fed2cd646a099384279344b0d20@o1281016.ingest.us.sentry.io/4507422323113984
user.curaengine:sentry_org=fame3d
user.curaengine:sentry_project=curaengine
user.i18n:options={"extract": False, "build": True}
