include(cura.jinja)

[build_requires]

[settings]

[options]

[env]

# Ensure backward compatibility with MacOS < 13 https://github.com/Ultimaker/Cura/issues/11841#issuecomment-1685076361
cpython:ac_cv_func_mkfifoat=no
cpython:ac_cv_func_mknodat=no

[conf]
user.curaengine:sentry_url=https://55c41fed2cd646a099384279344b0d20@o1281016.ingest.us.sentry.io/4507422323113984
user.curaengine:sentry_org=fame3d
user.curaengine:sentry_project=curaenginele-5
